/* Reset default margin and padding */
body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    background-color: #f8f8f8; /* Light grey background */
    font-family: 'Arial', sans-serif; /* Default font family */
    color: #333; /* Default text color */
}

/* Header Styles */
header {
    background-color: #4CAF50; /* Dark green background */
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px; /* Rounded borders */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #fff; /* White border at the bottom */
}

nav a {
    text-decoration: none;
    color: #fff; /* White text color */
    padding: 8px 12px;
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid #fff; /* White border */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

nav a:hover {
    background-color: #fff; /* White background on hover */
    color: #4CAF50; /* Dark green text color on hover */
}

/* Container Styles */
.container {
    width: 80%;
    margin: 0 auto; /* Center the container */
}

/* Main Section Styles */
main {
    margin: 20px 0;
    padding: 20px;
}

/* Welcome Section Styles */
.welcome-section {
    text-align: center;
}

.welcome-section h1 {
    color: #4CAF50;
}

.welcome-section p {
    text-align: justify;
}

/* Specials Section Styles */
.specials-section {
    text-align: center;
}

.specials-section p {
    text-align: center;
}

p#key {
    text-align: left;
    padding-left: 100px;
}

/* List Styles */
ul {
    list-style-type: none;
}

ul li {
    margin: 0;
    padding-left: 100px;
    text-align: left;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        margin: 5px;
    }

    nav img {
        width: 80px; /* Adjust width for mobile */
        height: auto; /* Ensure image height scales proportionally */
    }

    .container {
        width: 90%; /* Adjust container width for smaller screens */
    }

    .welcome-section,
    .specials-section {
        padding: 10px; /* Adjust section padding for smaller screens */
    }

    p#key {
        padding-left: 10px; /* Adjust left padding for smaller screens */
    }

    ul li {
        padding-left: 10px; /* Adjust left padding for smaller screens */
    }
}

/* Styles for footer */
footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
}
