/* Styles for team section */
.team-section {
    text-align: center;
    padding: 20px; /* Added padding for better spacing */
}

/* Styles for team member */
.team-member {
    display: inline-block;
    margin: 20px;
    vertical-align: top; /* Ensure alignment of team members */
    width: calc(50% - 40px); /* Make team members take up 50% width of the container */
    max-width: 250px; /* Limit maximum width of team members */
}

.team-member img {
    width: 100%;
    height: auto; /* Ensure aspect ratio is maintained */
    border-radius: 50%;
    object-fit: cover;
}

.team-member h2 {
    margin-top: 10px;
    color: #4CAF50;
    font-size: 18px; /* Increase font size for better readability */
}

.team-member p {
    margin: 5px 0;
    color: #555;
    font-size: 16px; /* Increase font size for better readability */
}

/* Styles for navigation links */
nav a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #fff;
    color: #4CAF50;
}

/* Styles for footer */
footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
}

/* Mobile and Tablet Styles */
@media only screen and (max-width: 767px) {
    /* Adjust team member width for smaller screens */
    .team-member {
        width: calc(100% - 40px); /* Make team members take up full width */
    }
}

